DJANGO_SETTINGS_MODULE=settings.development
DJANGO_SECRET_KEY=django-insecure-otel-observability-demo-key-12345
DEBUG=True

ENABLE_TRACING=True
ENABLE_METRICS=True
ENABLE_LOGS=True

OTEL_GRPC_ENDPOINT=localhost:4317
OTEL_AUTHORIZATION=
OTEL_ORGANIZATION=
OTEL_STREAM_NAME=

SERVICE_NAME=django-otel-observability
SERVICE_VERSION=1.0.0
NAMESPACE=local
DJANGO_LOG_LEVEL=DEBUG

OTEL_EXPORTER_TIMEOUT_MILLIS=3000
OTEL_BSP_MAX_QUEUE_SIZE=2048
OTEL_BSP_MAX_EXPORT_BATCH_SIZE=512
OTEL_BSP_SCHEDULE_DELAY_MILLIS=1000
OTEL_BLRP_MAX_QUEUE_SIZE=2048
OTEL_BLRP_MAX_EXPORT_BATCH_SIZE=512
OTEL_BLRP_SCHEDULE_DELAY_MILLIS=1000
OTEL_METRIC_EXPORT_INTERVAL_MILLIS=5000
